@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /*import font*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
/* body style */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  height: 100vh;
  margin: 0;
}
/* h1 style */
h1 {
  color: #e52b50;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
}
/* search style */
.search_wrap {
  width: 600px;
  margin: 20px auto;
  position: relative;
  text-align: center; 
}

#search-form {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center; 
  text-align: center; 
  margin-bottom: 20px;
}

.input {
  flex: 1;
  height: 60px;
  padding: 20px;
  border-radius: 50px;
  font-size: 18px;
  border: none;
}
.input.search-empty {
  color: #e52b50;
  border: 4px solid; 
}

.search_btn {
  width: 60px;
  height: 60px;
  background: #242424;
  border: none;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transition: background-color 0.3s ease;
}

.search_btn i {
  color: #fff;
  font-size: 20px;
}

.search_btn:hover {
  background-color: #e52b50;
}


/*book style*/
#book-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  padding: 5px;
  margin-top: 10px;
  background-color: #f5f5f5;
  display: none;
}

.book {
  flex-basis: calc(33.33% - 20px); 
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.book img {
  max-width: 100%;
  height: auto;
}

.book-description {
  font-size: 14px;
  margin-top: 10px;
}

.book-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #e52b50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.book-author {
  font-size: 16px;
  padding: 3px 6px;
  border-radius: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* result style */
#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.book-no-results {
  margin-top: 10px;
}

#result li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e52b50;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.no-results-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.no-results-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; 
}

/*loader style*/

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #e52b50;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*arrow style*/
.arrow-icon {
  display: block;
  font-size: 28px;
  text-align: center;
  color: #242424;
  margin: 10px auto;
  cursor: pointer;
  border: 1px solid #242424;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: color 0.1s ease, background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.arrow-icon:hover {
  color: #242424;
  background-color: #e52b50;
  transform: scale(1.1);
  font-size: 32px;
  border-width: 2px;
}

.book-description {
  display: none;
}

.arrow-icon {
  display: none;
}

.book:hover .arrow-icon {
  display: block;
}

.book {
  flex-basis: 100%;
}

/*nav bar style*/
.navbar {
  background-color: #e52b50;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* logo style*/
.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
/*responsive*/
@media screen and (min-width: 768px) {
  .book {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .book {
    flex-basis: calc(25% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .search_wrap {
    width: 100%;
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .arrow-icon {
      display: block; 
  }
}